input {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid black;
    margin: 20px 20px;
    font-size: 16px;
}

button {
    border: 1px solid blue;
    border-radius: 6px;
    background-color: navy;
    color: white;
    font-size: large;
    font-weight: 800;
    cursor: pointer;
    padding: 6px;
    margin: 20px 20px;
}

button:hover {
    background-color: blue;
}

div {
    width: 250px;
    background-color: burlywood;
}

p {
    text-align: center;
    padding: 6px;
    padding-bottom: 10px;
    font-size: 18px;
}
