.container {
    display: flex;
    flex-direction: column;
    background-color: burlywood;
    width: 300px;
    padding: 20px;
}


input {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
}

button {
    margin: 20px;
    padding: 16px;
    background-color: navy;
    border: 2px solid blue;
    border-radius: 4px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: blue;
}

p {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}
