.main-container {
    display: flex;
    background-color: antiquewhite;
    padding: 10px;
    margin: 4px;
    width: auto;
}

.form-container {
    display: flex;
    flex-direction: column;
    background-color: burlywood;
    width: 400px;
    height: 340px;
    margin: 10px;
    padding: 10px;
}

.todo-container {
    width: 800px;
    margin: 10px;
}

h1 {
    text-align: center;
    background-color: coral;
    padding: 10px;
}

h2 {
    text-align: center;
}

label {
    font-weight: bold;
    font-size: 18px;
    padding-left: 8px;
    margin-top: 20px;
}

input {
    font-size: 14px;
    padding: 8px;
    margin: 2px 8px
}

.add-todo-btn {
    margin: 28px 8px 20px 8px;
    padding: 18px;
    cursor: pointer;
    background-color: sienna;
    color: white;
    font-size: 24px;
    border: 2px solid sienna;
    border-radius: 8px;
    font-weight: bold;
}

.add-todo-btn:hover {
    background-color: brown;
    border: 2px solid brown;
}

#todo-task-list {
    background-color: burlywood;
    padding: 10px;
}

.todo-task {
    background-color: blanchedalmond;
    padding: 12px;
    border-radius: 8px;
    margin-top: 10px;
}

.task-done-btn {
    color: white;
    padding: 8px;
    background-color: sienna;
    border: 2px solid sienna;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.task-done-btn:hover {
    background-color: brown;
    border: 2px solid brown;
}

p {
    padding-left: 8px;
}
